#App {
	display: flex;
	background-color: #00000a;
	height: 100%;
	min-height: 100vh;
  padding: 40px;
  background-size: 500px;
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-image: url('./images/fishoff_hand.png')
}